@using CardGames.Shared.Models
@using CardGames.Shared;
@inject IStringLocalizer<UIStrings> L;

<div class="modal @modalClass" role="dialog" style="display: @modalDisplay; overflow: auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@L["Colour"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <img class="playingColor" src="/CardImages/@(game.PlayingCard.Face.ToString() + ".png")" width="200" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Game game { get; set; }
    [Parameter]
    public string selectedPlayer { get; set; }
    [Parameter]
    public string modalClass { get; set; }
    [Parameter]
    public string modalDisplay { get; set; }

    [Parameter]
    public EventCallback<int> OnCloseCallback { get; set; }

    private void Close()
    {
        OnCloseCallback.InvokeAsync(0);
    }

    private bool IsGameController()
    {
        return game.IsGameController(GameUtils.GetPlayerId(selectedPlayer));
    }

    private bool IsGameController(string player)
    {
        return game.IsGameController(GameUtils.GetPlayerId(player));
    }
}
